In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [18]:
df_avaliacoes = pd.read_csv ('avaliacoes_final.csv', sep = ',', encoding = 'latin1')
df_clinicas = pd.read_csv ('clinicas_final.csv', sep = ',', encoding = 'latin1')
df_consultas = pd.read_csv ('consultas_final.csv', sep = ',', encoding = 'latin1')
df_medicos = pd.read_csv ('medicos_final.csv', sep = ',', encoding = 'latin1')
df_pacientes = pd.read_csv ('pacientes_final.csv', sep = ',', encoding = 'latin1')

In [19]:
df_consultas.head()

,id_consulta,id_paciente,id_medico,id_clinica,especialidade,data_hora_agendada,data_hora_inicio,status
0,1,82,15,4,Cardiologia,2023-09-27 23:46,2023-09-28 00:16,Realizada
1,2,18,95,14,Cardiologia,2023-09-04 09:05,2023-09-04 13:05,Realizada
2,3,55,5,4,Pediatria,2023-02-04 02:43,2023-02-04 02:58,Realizada
3,4,78,4,72,Ortopedia,2023-03-14 09:28,2023-03-14 13:28,Realizada
4,5,58,76,36,Pediatria,2023-10-22 16:54,2023-10-22 16:54,Cancelada

In [6]:
df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   object
 6   data_hora_inicio    5000 non-null   object
 7   status              5000 non-null   object
dtypes: int64(4), object(4)
memory usage: 312.6+ KB

In [22]:
df_consultas['data_hora_agendada'] = pd.to_datetime(df_consultas['data_hora_agendada'])
df_consultas['data_hora_inicio'] = pd.to_datetime(df_consultas['data_hora_inicio'])

In [23]:
df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   datetime64[ns]
 6   data_hora_inicio    5000 non-null   datetime64[ns]
 7   status              5000 non-null   object
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 312.6+ KB

In [25]:
df_tempo_espera = df_consultas['data_hora_inicio'] - df_consultas['data_hora_agendada']
df_tempo_espera

0      0 days 00:30:00
1      0 days 04:00:00
2      0 days 00:15:00
3      0 days 04:00:00
4      0 days 00:00:00
             ...
4995   0 days 01:00:00
4996   0 days 00:15:00
4997   0 days 00:00:00
4998   0 days 02:00:00
4999   0 days 03:00:00
Length: 5000, dtype: timedelta64[ns]

In [26]:
df_consultas.loc[df_consultas['status'] == 'Realizada', 'tempo_espera'] = df_consultas['data_hora_inicio'] - df_consultas['data_hora_agendada']
df_consultas

,id_consulta,id_paciente,id_medico,id_clinica,especialidade,data_hora_agendada,data_hora_inicio,status,tempo_espera
0,1,82,15,4,Cardiologia,2023-09-27 23:46:00,2023-09-28 00:16:00,Realizada,0 days 00:30:00
1,2,18,95,14,Cardiologia,2023-09-04 09:05:00,2023-09-04 13:05:00,Realizada,0 days 04:00:00
2,3,55,5,4,Pediatria,2023-02-04 02:43:00,2023-02-04 02:58:00,Realizada,0 days 00:15:00
3,4,78,4,72,Ortopedia,2023-03-14 09:28:00,2023-03-14 13:28:00,Realizada,0 days 04:00:00
4,5,58,76,36,Pediatria,2023-10-22 16:54:00,2023-10-22 16:54:00,Cancelada,NaT
...,...,...,...,...,...,...,...,...,...
4995,4996,27,27,93,Pediatria,2023-03-28 04:34:00,2023-03-28 05:34:00,Cancelada,NaT
4996,4997,17,26,8,Cardiologia,2023-12-06 12:39:00,2023-12-06 12:54:00,Realizada,0 days 00:15:00
4997,4998,60,39,34,Ortopedia,2023-11-06 11:27:00,2023-11-06 11:27:00,Realizada,0 days 00:00:00
4998,4999,65,7,98,Dermatologia,2023-10-07 20:19:00,2023-10-07 22:19:00,Realizada,0 days 02:00:00
4999,5000,65,93,78,Cardiologia,2023-07-23 07:16:00,2023-07-23 10:16:00,Remarcada,NaT

In [35]:
#df_consultas['tempo_espera2'] = np.where(df_consultas['status'] == 'Realizada', df_consultas['data_hora_inicio'] - df_consultas['data_hora_agendada'], pd.NaT)
#df_consultas
#aqui eu precisaria converter para minutos horas e segundos.

In [ ]:
#df_consultas.drop(['tempo_espera2'], axis=1, inplace=True)
#df_consultas

In [37]:
df_consultas

,id_consulta,id_paciente,id_medico,id_clinica,especialidade,data_hora_agendada,data_hora_inicio,status,tempo_espera
0,1,82,15,4,Cardiologia,2023-09-27 23:46:00,2023-09-28 00:16:00,Realizada,0 days 00:30:00
1,2,18,95,14,Cardiologia,2023-09-04 09:05:00,2023-09-04 13:05:00,Realizada,0 days 04:00:00
2,3,55,5,4,Pediatria,2023-02-04 02:43:00,2023-02-04 02:58:00,Realizada,0 days 00:15:00
3,4,78,4,72,Ortopedia,2023-03-14 09:28:00,2023-03-14 13:28:00,Realizada,0 days 04:00:00
4,5,58,76,36,Pediatria,2023-10-22 16:54:00,2023-10-22 16:54:00,Cancelada,NaT
...,...,...,...,...,...,...,...,...,...
4995,4996,27,27,93,Pediatria,2023-03-28 04:34:00,2023-03-28 05:34:00,Cancelada,NaT
4996,4997,17,26,8,Cardiologia,2023-12-06 12:39:00,2023-12-06 12:54:00,Realizada,0 days 00:15:00
4997,4998,60,39,34,Ortopedia,2023-11-06 11:27:00,2023-11-06 11:27:00,Realizada,0 days 00:00:00
4998,4999,65,7,98,Dermatologia,2023-10-07 20:19:00,2023-10-07 22:19:00,Realizada,0 days 02:00:00
4999,5000,65,93,78,Cardiologia,2023-07-23 07:16:00,2023-07-23 10:16:00,Remarcada,NaT

In [ ]:
#quero o percentual de consultas canceladas e remarcadas em relação ao total e em relação ao número de consultas realizadas, POWER BI

#fazer a contagem do numero de consultas Cancelada e Remarcada
df_consultas_status_portipo = df_consultas['status'].value_counts()

#total de linhas
df_consultas_status_total = df_consultas['status'].count()

np.int64(5000)

In [48]:
#especialidade, médico, clinica, tempo_espera

df_consultas_novo = df_consultas[['especialidade', 'id_medico', 'id_clinica', 'tempo_espera']]
df_consultas_novo

     especialidade  id_medico  id_clinica    tempo_espera
0      Cardiologia         15           4 0 days 00:30:00
1      Cardiologia         95          14 0 days 04:00:00
2        Pediatria          5           4 0 days 00:15:00
3        Ortopedia          4          72 0 days 04:00:00
4        Pediatria         76          36             NaT
...            ...        ...         ...             ...
4995     Pediatria         27          93             NaT
4996   Cardiologia         26           8 0 days 00:15:00
4997     Ortopedia         39          34 0 days 00:00:00
4998  Dermatologia          7          98 0 days 02:00:00
4999   Cardiologia         93          78             NaT

[5000 rows x 4 columns]

In [50]:
#quero o percentual de consultas em relaçao ao total de consultas realizadas cujo atraso do atendimento demorou mais do que 20 minutos, POWER BI

#encontrar o total de consultas cujo tempo foi maior que 20 minutos
df_tempo_espera_maior = df_consultas_novo['tempo_espera'] > pd.Timedelta(minutes = 20)
#df_total_tempo_espera_maior = df_consultas_novo.loc[df_tempo_espera_maior].shape[0]

df_tempo_espera_maior

0        True
1        True
2       False
3        True
4       False
        ...
4995    False
4996    False
4997    False
4998     True
4999    False
Name: tempo_espera, Length: 5000, dtype: bool

In [51]:
#PEDIDOS DO PROJETO, identificar outliers usando quartis 
#tempo_espera
#pegar tempo de espera, organizar de forma crescente, separar em 4 pedaços e ver quais são as métricas baseado no calculo dos outliers 
#IQR = Q3 - Q1
#Limite superior = Q3 + (1.5 × IQR)
#Limite inferior = Q1 - (1.5 × IQR)

array_tempo_espera = np.array(df_consultas_novo['tempo_espera'])
array_tempo_espera

#converter o formato para timedelta minutos
array_tempo_espera_minutos = array_tempo_espera.astype('timedelta64[m]')
array_tempo_espera_minutos

array([   30,   240,    15, ...,     0,   120, 'NaT'],
      shape=(5000,), dtype='timedelta64[m]')

In [52]:
#agrupar por especialidade e ver o tempo medio de espera

df_especialidade_medio_espera = df_consultas_novo.groupby(['especialidade']), ['tempo_espera'].mean().reset_index()
df_especialidade_medio_espera

AttributeError: 'list' object has no attribute 'mean'

In [ ]:
#juntar tabelas com nomes de medicos com tabela de consultas
#juntar tabela de clinicas com consultas
#ter os outliers organizados por nome dos medicos e nomes das clinicas